.two{
    display:flex;
    flex-direction: row;
}
.previus, .current{
    width: 50%;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}
.container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.container img{
    width: 40%;
}
.container .description{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .description h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
.current h4{
    text-align: center;
    color: black;
    margin-top: 0.5rem;
}
.form h4{
    text-align: start;
    color: bisque;
    margin-top:0.6rem;
    margin-bottom: 0;
}
.loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #00000021;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.form {
    width: 25rem;
    padding-left: 1rem;
    margin-top:1rem;
    margin-right:auto;
    margin-left:auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    position: relative;
    background-color: #000000a8;
    box-shadow: 0px -1px 8px 2px white;
}
.form input{
    width: 50%;
    border-bottom: 2px solid bisque;
    color: bisque;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: transparent;
    outline:none;
}
.form div input[type='number']{
    width: 20%;
    text-align: center;
}
.form div label{
    display:block;
}
.form input[type='submit']{
    width:40%;
    display:flex;
    justify-content: center;
    align-self: flex-end;
}
.containerTemps{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.temperamentGroup{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}
.x{
    position: absolute;
    font-size: 2.5rem;
    top:-1.2rem;
    left: 30%;
    color: rgb(203, 18, 18);
    cursor:pointer;
    opacity: 0;
}
.temperaments{
    font-size: 0.8rem;
    cursor:pointer;
}
.temperamentGroup:hover .x{
    opacity: 1;
}
.form select{
    width:50%;
    background-color: #625a7f;
    color: bisque;
}
.form select::-webkit-scrollbar {
    width: 8px;
}
.form select::-webkit-scrollbar-track {
    background-color: #625a7f;
}
.form select::-webkit-scrollbar-thumb {
    background-color: bisque;   
    border-radius: 20px;      
}
.error{
    font-size: 0.8rem;
    font-weight: 600;
    color: #d50606;
    padding-left: 0.5rem;
}
.inputError{
    border-bottom:2px solid #d50606!important
}

.submit{
    width: 3rem;
    height: 3.5rem;
    position: absolute;
    right: 4%;
    bottom: 1%;
    color:bisque;
    background-color: transparent;
    font-size: 3rem;
    border: none;
    cursor: pointer;
}
.submit:disabled{
    color: rgba(255, 228, 196, 0.41);
}

.previus h4{
    text-align: center;
    color: black;
    margin-top:0.5rem;
    margin-bottom:0;
}

.previus form div h4{
    text-align: start;
}

.visible{
    display:flex;
}
.hidden{
    display:none;
}

@media (max-width:1070px) {
    .two{
        flex-direction: column-reverse;
        align-items: center;
    }
    .container{
        margin-top:0.5rem;
        margin-bottom: 1.5rem;
        align-items: flex-start;
    }
    .current{
        width: 25rem;
    }
    .previus{
        width: 90%;
    }
    .form{
        width: 25rem;
    }
}

@media (max-width:550px) {
    .container{
        flex-direction: column;
    }
    .container img{
        position: absolute;
        width: 7rem;
        left: 70%;
        top: 50rem;
    }
    .container .description{
        width: 90%;
        margin-left: 1rem;
        align-items: flex-start;
    }
    .container .description h1{
        margin-left:2rem;
    }
}

@media (max-width:450px) {
    .current{
        width: 90%;
    }
    .form{
        width: 100%;
    }
    .error{
        display: inline-block;
    }
}