.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    justify-items: center;
    margin-top:2rem;
}

.notFound{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: black;
    z-index: 4;
}
.notFoundBack{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #00000047;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position-x: center;
    background-image: url('https://estaticos.muyinteresante.es/uploads/images/gallery/5b473b075cafe87298abe4b4/perro-escondido.jpg');
}
.btnReset{
    margin-left: 0.5rem;
    font-weight: 800;
    color: bisque;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    cursor:pointer;
    animation: circle 1s linear infinite;
}
.btnReset:hover{
    background-color: black;
}
@keyframes circle {
    0%{
        border-right-color: black;
    }
    25%{
        border-bottom-color: black;
    }
    50%{
        border-left-color: black;
    }
    75%{
        border-top-color: black;
    }
}










.burguerButton{
    display:none;
}


.burguerForm{
    width: 2.5rem;
    height: 0.5rem;
    background-color: bisque;
    border-radius: 0.3rem;
    transform: translateY(1.5rem) translateX(0.1rem);    
    transform-origin: top left;
    transition: transform .5s ease, background-color 0.5s ease;
}

.burguerForm::before,
.burguerForm::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: bisque;
    border-radius: 0.3rem;
    transition: transform .5s ease; 
}
.burguerForm::before{
    transform: translateY(-0.9rem);
}
.burguerForm::after{
    transform: translateY(0.3rem);
}

.show + .burguerButton .burguerForm::before{
    transform: rotate(45deg) translateX(-1px);

}
.show + .burguerButton .burguerForm::after{
    transform: rotate(-45deg) translate(0.4rem, -7px);
}
.show + .burguerButton .burguerForm{
    background-color: transparent;
}





.loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #00000021;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media (max-width: 1050px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 750px) {
    .burguerButton{
        display: flex;
        position: fixed;
        left: 83%;
        top: 5rem;
        z-index: 2;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background-color: black;
        border: none;
    }
    .divFilter{
        background-color: #0000008c;
        width: 18rem;
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        padding-top: 5rem;
        transition: transform 1s;
    }
    .show{
        transform: translateX(0)
    }
    .hidden{
        transform: translateX(-100%);
    }
}
@media (max-width: 700px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
