.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
    justify-items: center;
}
body{
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/36803wide.jpg'); 

}

.notFound{
    position: absolute;
    top:50%;
    left:40%;
    color: black;
    z-index: 4;
}
.notFoundBack{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #00000047;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-image: url('https://estaticos.muyinteresante.es/uploads/images/gallery/5b473b075cafe87298abe4b4/perro-escondido.jpg');
}

.loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #00000021;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
