.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom:0.5rem;
    padding: 0 1rem;
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/36803wide.jpg'); 
    backdrop-filter: blur(1rem);
}
.home{
    height: 2rem;
    width: 2rem;
    color:bisque;
}
.home:hover{
    box-shadow: 0px 0px 2px 2px;
}

.create{
    color:bisque;
    text-decoration: none;
}
.create:hover{
    text-shadow: 0px 0px 9px;
}