.body{
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/36803wide.jpg'); 
}
.container{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container img{
    width: 25rem;
}

.container .description{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color:black;
}

.container .description h1{
    text-align: center;
    font-size: 2rem;
}

.loader{
    position: absolute;
    top:50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #00000021;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
